# Frontend environment configurations
VITE_API_URL=
VITE_WS_URL=

# WebRTC STUN Server (default: Google STUN)
VITE_STUN_SERVER=stun:stun.l.google.com:19302

# WebRTC TURN Server Settings (Optional fallback: frontend usually receives TURN automatically from backend)
VITE_TURN_SERVER=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=
